# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'text.html.php.hulk'
'name': 'HulkTemplate'
'fileTypes': [
  't.php'
]
'injections':
  'text.html.php.hulk - (meta.embedded | meta.tag), L:text.html.php.hulk meta.tag, L:source.js.embedded.html':
    'patterns': [
      {
        'include': '#php-tag'
      }
    ]
'patterns': [
  {
    'begin': '(?i)(<#\\s*)(extends)\\s+([^#=\\s]+)'
    'beginCaptures':
      '1':
        'name': 'punctuation.tag.begin.html.$2'
      '2':
        'name': 'keyword.hulk.$2'
      '3':
        'name': 'entity.name.class.hulk.$2'
    'contentName': 'text.html.hulk.$2'
    'end': '(#>)'
    'endCaptures':
      '1':
        'name': 'punctuation.tag.end.html.$2'
    'name': 'html.hulk.tag.$2'
  }
  {
    'begin': '(?i)(<#\\s*/?)(block|slot|use|call)(?:\\s+([^#=\\s]+)|\\s*)'
    'beginCaptures':
      '1':
        'name': 'punctuation.tag.begin.html.$2'
      '2':
        'name': 'keyword.hulk.$2'
      '3':
        'name': 'support.function.$2'
    'contentName': 'text.html.hulk.$2'
    'end': '(#>)'
    'endCaptures':
      '1':
        'name': 'punctuation.tag.end.html.$2'
    'name': 'html.hulk.tag.$2'
    'patterns': [
      {
        'match': '([^=\\s]+)\\s*(=)\\s*(")([^"]+)(")'
        'captures':
          '1':
            'name': 'entity.other.attribute-name.html'
          '2':
            'name': 'punctuation.separator.key-value'
          '3':
            'name': 'punctuation.definition.string.begin'
          '4':
            'patterns': [
              {
                'include': '#php-tag'
              }
            ]
          '5':
            'name': 'punctuation.definition.string.end'
        'name': 'html.hulk.string'
      }
    ]
  }
  {
    'include': 'text.html.basic'
  }
]
'repository':
  'php-tag':
    'patterns': [
      {
        'begin': '<\\?(?i:php|=)?(?![^?]*\\?>)'
        'beginCaptures':
          '0':
            'name': 'punctuation.section.embedded.begin.php'
        'end': '(\\?)>'
        'endCaptures':
          '0':
            'name': 'punctuation.section.embedded.end.php'
          '1':
            'name': 'source.php'
        'name': 'meta.embedded.block.php'
        'contentName': 'source.php'
        'patterns': [
          {
            'include': 'source.php'
          }
        ]
      }
      {
        'begin': '<\\?(?i:php|=)?'
        'beginCaptures':
          '0':
            'name': 'punctuation.section.embedded.begin.php'
        'end': '(\\?)>'
        'endCaptures':
          '0':
            'name': 'punctuation.section.embedded.end.php'
          '1':
            'name': 'source.php'
        'name': 'meta.embedded.line.php'
        'contentName': 'source.php'
        'patterns': [
          {
            'include': 'source.php'
          }
        ]
      }
    ]
